<div class="container">
    <div class="title">
        <h2>Cart</h2>
    </div>

    <div class="cart">
        <div class="cart-data" *ngFor="let cart of cart">
            <img src="../../assets/product.jpg">
            <div class="product-title">{{ cart.medicine_name }}</div>

            <div class="cart-buttons">
                <i class="fa-solid fa-minus quantity-icon"></i>
                {{cart.quantity}}
                <i class="fa-solid fa-plus quantity-icon"></i>
            </div>
        </div>
    </div>
</div>