<div class="container">
    <div class="top">
        <form [formGroup]="searchForm">
            <input type="text" placeholder="Search" formControlName="search" />
        </form>

        <div class="icon" (click)="redirect()">
            <i class="fa-solid fa-cart-shopping"></i>
            <Span *ngIf="cartItemCount > 0">{{ cartItemCount }}</Span>
        </div>
    </div>

    <div class="result">
        <div class="products" *ngIf="products?.length > 0">
            <div class="product" *ngFor="let product of products">
                <img [src]="'../assets/product.jpg'" />
                <div class="product-description">
                    <div class="product-name">{{ product.medicine_name }}</div>
                    <div class="product-manufacturer">{{ product.manufacturer_name }}</div>
                    <div class="product-price">₹ {{ product.price }}</div>

                    <!-- <button class="btn btn-primary" (click)="navigate(product.medicine_id)">View Details</button> -->
                    <button class="btn btn-primary" (click)="addToCart(product)" *ngIf="!product.added_to_cart">Add to cart</button>
                    <div *ngIf="product.added_to_cart > 0">
                        <div class="cart-buttons">
                            <i class="fa-solid fa-minus quantity-icon" (click)="changeQuantity('decrease', product.medicine_id)"></i>
                            {{product.quantity}}
                            <i class="fa-solid fa-plus quantity-icon" (click)="changeQuantity('increase', product.medicine_id)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>